.table1, th, td {
    border: 1px solid black;
    padding: 8px 18px;
    text-align: left;
    font-family: sans-serif;
}
.table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #0F4C81;
    color: white;
}
h1 {
    text-align: center;
    color: #0F4C81;
    font-family: Verdana;
}
tr {
    background-color: whitesmoke;
    color: black;
}
.image {
    width: 200px;
    height: 200px;
    position: relative;
}